@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
      <h1>My To-Do List</h1>
        <img src="~/Content/checklist-2.jpg" height = "200" width ="200"/>
  </div>

<div class="row">
    <div class="col-md-4">
        <h2>Entity Framework</h2>
        <p>In this example we have demonstrated how to quickly build a data interface with the Entity Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Scaffolding</h2>
        <p>We have also demonstrated how to build a user interface with scaffolding.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customizations</h2>
        <p>In the last lesson we have demonstrated how to change the look and feel of stock ASP .NET MVC program.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
